h1 {
    font-size: 45px; 
    font-family: sans-serif; 
    background-color: dodgerblue;

}

h2 { 
    font-size: 30px;
    font-family: sans-serif;
    background-color: blue;
}

nav { 

    border: 3px solid black;
    display: block;
    background-color: whitesmoke;
    }

body { text-align: center;
    
}
.cuerpo li { 

    list-style: none;
}

